<div class="container col-md-10">
  <ul class="link-footer pt-3">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Find a course", courses_path %></li>
    <li><%= link_to "My profile", owner_courses_path, method: :get %></li>
  </ul>
</div>
