<html>
  <head>


  </head>
  <body>

    <div class="d-flex justify-content-center">
      <div class="card bg-dark text-white home-image">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
          <h2 class="card-title"><%= link_to 'See all courses around you', courses_path %></h2>
        </div>
      </div>
    </div>

  </body>
</html>




