<div class="pop-up-container">
  <%= link_to course_path(course) do %>
    <%= image_tag course.image_url %>
  <% end %>
  <div class="pop-up-info">
  <h3><%= course.title %></h3>
  <p><%= course.address %></p>
  </div>
</div>
