<div class="contenu">
  <div class="d-flex">
    <h1 class="flex-grow-1">All courses available</h1>
    <%= link_to "Your Bookings", bookings_path, :class => "btn p-3 m-3 button btn-secondary" %>
  </div>

  <div class="d-flex owner-dashboard">
    <div class="info-content pl-2 pr-2">
      <div class="cards">
        <% @courses.each do |course| %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= course.image_url %>">
            <%= link_to course_path(course) do %>
              <h2><%= course.title %></h2>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>
