// .home-banner {
//   background-image: url('.../assets/images/camera.jpg');
//   background-size: cover;
//   height: 100vh;
//   color: #eee;
//   text-align: center;
//   padding-top: 40vh;
// }

.banner {
  background-size: cover;
  //background-position: center;
  padding: 150px 0;
  height: 700px;
  color: black;
  margin-top: -80px;
  .button-banner {
    position: absolute;
    bottom: 50px;
  }
  .form-banner {
    margin-top: 50px;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $grey;
  margin-top: 15px;
  // opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.search-block {
  height: 400px;
}

.banner-small {
  height: 300px;
}

.banner-small-content {
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 100%;
  padding: 57px;
  //background-position: center;
  color: white;
  h2 {
    color: white;
  }
  .button-banner-small {
    position: absolute;
    bottom: 40px;
  }
  p {
    font-size: 18px;
    margin: 0;
  }
}
