// .home-banner {
//   background-image: url('.../assets/images/camera.jpg');
//   background-size: cover;
//   height: 100vh;
//   color: #eee;
//   text-align: center;
//   padding-top: 40vh;
// }

.banner {
  background-size: cover;
  //background-position: center;
  padding: 150px 0;
  height: 700px;
  color: black;
  margin-top: -80px;
}


.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.search-block {
  height: 400px;
}

.banner-small {
  height: 300px;
}

.banner-small-content {
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 100%;
  padding: 65px;
  //background-position: center;
  color: white;
  h2 {
    color: white;
  }
  .button-banner-small {
    position: absolute;
    bottom: 40px;
  }
}

.button-banner {
    position: absolute;
    bottom: -105px;
  }

.banner-new {
  background-size: cover;
  //background-position: center;
  padding: 23px;
  height: 650px;
  color: black;
  margin-top: -80px;
}

.banner-new h1 {
  margin: 0;
  color: #EC6C57;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
}

.banner-new h3 {
  margin: 0;
  color: grey;
  font-size: 30px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-new2 {
  display: flex;
  justify-content: space-around;
  padding: 150px;
  height: 850px;
  color: black;
  margin: 70px;
  .banner-new2-img {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.banner-new2 h3 {
  margin-top: 30px;
  font-size: 30px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
