.button {
  background-color: transparent;
  border: 2px solid $blue-water;
  color: $blue-water;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  &:hover {
   background-color: $blue-water;
   color: white;
   border: $blue-water;
  }
}

.button-index {
  margin: 30px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.search-btn {
  background-color: #84C8AE;
  color: black;
  width: 200px;
  height: 30px;
  padding-top: 5px;
}

.search-input {
  width: 500px;
}
