.card-courses {
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    text-align: center;
     p {
      font-size: 12px;
      font-weight: lighter;
      text-align: center;
     }
     img {
      height: inherit;
     }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-course-home  {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-course-home  > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-course-home  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-course-home  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.cardcourse-home p .card-course-home-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-course-home-infos {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  a:hover {
    text-decoration: none;
    border: 1.5px solid #EC6C58;
    border-radius: 5px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



