.navbar {
  background-color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 200px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
