.navbar-skills {
  background-color: transparent;
  transition: 0.5s background-color ease;
  height: 80px;
  position: absolute;
}

.navbar-nav {
  color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 90px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

