.navbar-skills {
  background-color: white;
  transition: 0.5s background-color ease;
  height: 80px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 200px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
